<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>RESTFUL CRUD TEST</h3>
    <button onclick="data_create()">저장[c]</button>
    <button onclick="data_read()">호출[r]</button>
    <button onclick="data_update()">수정[u]</button>
    <button onclick="data_delete()">삭제[d]</button>
    <br>
    <input type="text" id="name" placeholder="이름">
    <input type="text" id="phone" placeholder="전화번호">
    <input type="text" id="memo" placeholder="메모">



    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>